
{% extends 'blog/base.html' %}          <!--a-->      
{% load static %}

{% block content %}                     

<div class="border p-4 mb-5">                                           
<!-- <h3>{{user.username}}</h3> -->                             <!--a-->
    <div class="row">                                           <!--b-->
        <div class="col-md-3 text-center">
            <img src="{{user.profile.image.url}}"                
                class="img-fluid rounded-circle border" alt="صورة الناشر" width="100px"> <!--c-->
            <div class="mt-3">
                <a href="" class="btn btn-secondary bg-secondary">تحرير <i class="fas fa-pen fa-xs"></i></a>
            </div>
        </div>
        <div class="col-md-9">
            <h3 class="mb-3">{{user.username}}</h3>
            <p class="font-weight-bold">الأسم : <span class="font-weight-normal">{{user.first_name}} {{user.last_name}}</span></p>
            <p class="font-weight-bold">البريد الالكتروني : <span class="font-weight-normal">{{user.email}}</span></p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md">
        <h3 class="border-bottom pb-3 mb-3">عدد التدوينات التي دونتها</h3>
        <h4 class="bg-secondary text-center text-light p-3">{{posts.count}}</h4>

        <h3 class="border-bottom mb-3 pb-3 mt-3">تدويناتي</h3>
        {% for post in post_list %}                                         <!--d-->
        <ul class="pr-2">
            <a href="{% url 'detail_url' post.id %}">{{ post.title }}</a>
        </ul>
        {% empty %}
        <h4 class="text-center mb-4">لا توجد تدوينات</h4>
        {% endfor %}

        <!-- c {% if posts.count >= 10 %}
        <div class="border-top pt-3 mt-3 text-center">
            <a href="#" class="btn btn-secondary bg-secondary">التالي</a>
            <span class="pr-4 pl-4">صفحة 2 من 8</span>
            <a href="#" class="btn btn-secondary bg-secondary">السابق</a>
        </div>
        {% endif %} -->

        {% include 'blog/pagination.html' with page=post_list %}            <!--d-->

    </div>
</div>

{% endblock content %}


