
{% extends 'blog/base.html' %}          <!--a-->      

{% load static %}

{% block content %}                     <!--a-->
<!-- b <h1>منطقة التدوينات</h1> -->

{% for post in posts %}                 <!--b-->
    <div class="border p-3 mb-4">
        <img src="{% static 'blog/images/icons-user-profile-male.jpg' %}" 
            class="img-fluid rounded-circle border" alt="شعار المدونة" width="50px">
        <span class="text-secondary">نشر في {{ post.post_date|date:'d-m-Y' }}</span> <!-- filter|date -->
        <h3 class="text-dark"><a href="#">{{ post.title }}</a></h3>
        <p>{{ post.content }}</p>
    </div>
{% endfor %}

{% endblock content %}


