
{% extends 'blog/base.html' %}          <!--a-->      

{% load static %}

{% block content %}                     <!--a-->

{% if messages %}                       <!--c-->
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}

<!-- b <h1>منطقة التدوينات</h1> -->     <!--a-->

{% for post in posts %}                 <!--b-->
    <div class="border p-3 mb-4">
        <!-- src="{% static 'blog/images/icons-user-profile-male.jpg' %}" <!-d2     -->
        <img src="{{post.author.profile.image.url}}" 
            class="img-fluid rounded-circle border" alt="صورة الناشر" width="50px">
        <span class="text-secondary">نشر في {{ post.post_date|date:'d-m-Y' }}</span> <!-- filter|date -->
        <h3 class="text-dark"><a href="{% url 'detail_url' post.id %}">{{ post.title }}</a></h3> <!-- add url -->
        <p>{{ post.content }}</p>
    </div>
{% endfor %}

{# include 'blog/pagination.html' #}                   <!--d-->
{% include 'blog/pagination.html' with page=posts %}        <!--d2-->

{% endblock content %}


