
<ul class="list-group-flush latest_comment">                            <!--a-->
    {% for comment in l_comments %}                         <!--views.comments 13b post_tag-->
        <li class="list-group-item latest_comment_item">
            <a class="text-dark" href="{% url 'detail_url' comment.post.id %}">
                <!-- {{ comment.body }} a-->
                
                {% if comment.body|length > 40 %}       <!--13d-->
                {{ comment.body|slice:'40' }} ..
                {% else %}
                {{ comment.body }}
                {% endif %}
            </a>
        </li>
    {% empty %}
    <li class="list-group-item latest_comment_item">لا توجد تعليقات</li>
    {% endfor %}
</ul>