
/*  testing
.test_static {
    color: red;
}
*/

@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Regular.ttf') format('truetype'),
        local('Tajawal');
}

html, body {
    direction: rtl;
    text-align: right;
}

body {
    font-family: 'Tajawal', 'sans-serif';
}

.dropdown-menu .dropdown-item {
    text-align: right;
}

.bg-secondary {
    background-color: #666 !important;
}

.bg-light {
    background-color: #eee !important;
}

a {
    color: #666;
}

/* start post content */

/* end post content */


/* start sidebar */

.latest_post, .latest_comment {
    padding: 0 15px;
}

.latest_post .latest_post_item, .latest_comment .latest_comment_item {
    padding: 6px;
}

.latest_post li:first-child, .latest_comment li:first-child {
    border-top: 0;
}

.latest_post li:last-child, .latest_comment li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}


/* end sidebar */


/* start comment */

.comment {
    background-color: #f8f8f8;
    border: 1px dashed #ccc;
}

/* end comment */


/* start btn_editing (detial.html) */

.btn_editing {
    float: left;
}

/* end btn_editing */


/* start back_btn (post_confirm_delete.html) */

.back_btn {
    float: left;
}

/* end btn_editing */


